[submodule "Unity"]
	path = Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "cpputest"]
	path = cpputest
	url = git://github.com/cpputest/cpputest.git
